# Dependencies and Required Packages

In [1]:
!pip install pdfminer.six
!pip install nltk
!pip install openpyxl

import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

Requirement already satisfied: pdfminer.six in /usr/local/lib/python3.7/dist-packages (20211012)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (from pdfminer.six) (36.0.1)
Requirement already satisfied: chardet in /usr/local/lib/python3.7/dist-packages (from pdfminer.six) (3.0.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->pdfminer.six) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->pdfminer.six) (2.21)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [2]:
from pdfminer.high_level import extract_text
import nltk
import re
import subprocess
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
import json

# Generating Text Data From PDF File

In [4]:
filepath="/content/Rajat's Resume (1).pdf"

In [5]:
def extract_text_from_pdf(pdf_path):
    text = extract_text(pdf_path)
    return text

txt = extract_text_from_pdf(filepath)

In [6]:
print(txt)

Rajat Agarwaal
Data Scientist
Skilled Data Scientist with 2.5 years of experience executing data driven solutions to increase eﬃciency,
accuracy and utility of internal data processing. Experienced at creating regression models, classiﬁcation
models  using  predictive  modelling,  Computer  Vision  and  analyzing  data  mining  algorithms  to  deliver
insights and implement action oriented solutions to complex business problems.

rajatagarwaal30@gmail.com

Ghaziabad (NCR Region), India

linkedin.com/in/rajat-agarwaal

WORK EXPERIENCE

Machine Learning Engineer
AgEYE Technologies
01/2021 - Present,

Achievements/Tasks

09958168687

30 March, 1994

SKILLS

Python

C

Machine Learning

Deep Learning

Bangalore, India

Computer Vision

Natural Language Processing

SQL

Pig

Hive

Basics of HDFS

Undertaking data collection, preprocessing and analysis

Building models to address business problems

Statistical Analysis

Gitlab

Tableau

Propose solutions and strategies to business challenges

Worked on Machine Learning, Python and Computer Vision

Decision Science Analytics Intern
NiYO Solutions
12/2019 - 06/2020,

Achievements/Tasks

Bangalore, India

Built  machine  learning  solutions  to  solve  important  business
problems

Worked with Data Scientists and Engineers to deploy solutions to
a production environment

Collaborated  with  business  leaders,  subject  matter  experts,  and
decision  makers  to  develop  success  criteria  and  optimize  new
products, features and models

Communicated  key  results  to  senior  management  in  verbal,
visual, and written media

Engineer
Ericsson Global India Pvt. Ltd.
10/2016 - 04/2018,

Achievements/Tasks

Noida, Uttar Pradesh

Built  predictive  models  helpful  to  gain  business  insights  to  take
important business decisions

Applied ML techniques on the Telecom Customers data so to get
a  deeper  understanding  of  the  customers  behavior  and  using
those  insights  to  improvise  the  products  and  offerings  by  the
company to its customers

Worked on Python, ECMS, Machine Learning and SQL

EDUCATION

M. Tech in Data Science and Business Analytics
Narsee Monjee Institute of Management Studies
(NMIMS)
07/2018 - 07/2020,

Mumbai, Maharashtra

PROJECTS

Instance  and  Semantic  Segmentation  Using  UNET
 (04/2021 - Present)

The task is to categorize the multiple plants in the same image
using Instance Segmentation
Also,  Edge  detection  was  performed  on  Leaf  Edges  of  Basil  and
Lettuce plants so as to get the plant area and the leaf count, this
task  is  also  performed  using  UNET  as  it  was  giving  the  good
results

Basil, Lettuce and Hemp Image Classiﬁcation
 (03/2021 - 03/2021)

Here the task was to identify which plant is in the image
By  doing  so,  the  corresponding  pipeline  of  actions  will  be
triggered  so  as  to  get  the  tasks  done,  this  is  also  a  part  of  the
product being developed for the farmers
This task is accomplished with 95% accuracy using Custom CNN
Architecture

Classiﬁcation and Regression Models on the Multiple
Plants Data (02/2021 - 03/2021)

Here  the  task  was  to  predict  plant  parameters  like  Stem  Girth,
Plant  Height,  Fresh  Weight,  Dry  Weight  and  Leaf  Count  using
previous data
The  above  regression  tasks  were  achieved  successfully  with  an
Adjusted R-Squared value of 0.98
Another  task  was  to  classify  between  Basil  and  Lettuce  Classes
based on the numerical data collected, this task was successfully
done with an accuracy of 94% using Stacking

Customer Churn Analysis for Salary Advance Product
and Segmentation Model for Targeted Marketing
 (01/2020 - 04/2020)

Objective  was  to  identify  factors  leading  to  Customer  Churning.
The  aim  was  to  predict  whether  the  NiYO  Bharat  Customer  will
churn  or  not  in  future,  the  task  was  accomplished  with  an
accuracy of 91% using Random Forests
The utility of Customer Segmentation project is for the Marketing
Team who wanted to launch a Targeted and Marketing Campaign
by  dividing  the  Customers  into  four  distinct  segments,  this  task
was achieved with a good Silhouette Score of 0.87

B. Tech in Computer Science and Engineering
Amity University
07/2012 - 07/2016,

Greater Noida, Uttar Pradesh

ACHIEVEMENTS

TCS iON ProCert “Analytics” Certiﬁed

Gold Badge for both Python and Sql on Hacker Rank

# Generating Name using NER

In [7]:
def extract_names(txt):
    person_names = []

    for sent in nltk.sent_tokenize(txt):
        for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(sent))):
            if hasattr(chunk, 'label') and chunk.label() == 'PERSON':
                person_names.append(
                    ' '.join(chunk_leave[0] for chunk_leave in chunk.leaves())
                )

    return person_names

In [8]:
names = extract_names(txt)

In [9]:
names

['Rajat',
 'Agarwaal Data Scientist Skilled Data Scientist',
 'Machine Learning Engineer',
 'Machine Learning Deep Learning Bangalore',
 'Gitlab Tableau',
 'Machine Learning',
 'Python',
 'Engineer Ericsson Global India Pvt',
 'Uttar Pradesh Built',
 'Applied ML',
 'Machine Learning',
 'Maharashtra PROJECTS Instance',
 'Instance Segmentation',
 'Basil',
 'Lettuce',
 'Hemp Image',
 'Custom CNN Architecture',
 'Stem Girth',
 'Plant Height',
 'Fresh Weight',
 'Dry Weight',
 'Basil',
 'Lettuce Classes',
 'Customer Churn Analysis',
 'Salary Advance Product',
 'Objective',
 'Random',
 'Marketing Campaign',
 'Silhouette Score',
 'Greater Noida',
 'Uttar Pradesh',
 'Python',
 'Sql',
 'Hacker Rank']

In [10]:
name_candidate=names[0] + ' ' + names[1].split(' ')[0]

# Extracting Phone Number

In [11]:
PHONE_REG_IND = re.compile(r'[\+\(]?[1-9][0-9 .\-\(\)]{8,}[0-9]')

PHONE_REG_USA = re.compile(r'/^\(?(\d{3})\)?[-]?(\d{3})[-]?(\d{4})$/')

In [12]:
def extract_phone_number(resume_text):
    phone = re.findall(PHONE_REG_IND, resume_text)

    if phone:
        number = ''.join(phone[0])

        if resume_text.find(number) >= 0 and len(number) < 16:
            return number
    return None
 
phone_number_ind = extract_phone_number(txt)
print(phone_number_ind)

9958168687

In [13]:
def extract_phone_number(resume_text):
    phone = re.findall(PHONE_REG_USA, resume_text)

    if phone:
        if resume_text.find(phone) >= 0:
            return phone
    return None
 
phone_number_usa = extract_phone_number(txt)
print(phone_number_usa)

None

In [14]:
phone_contact=[]
if phone_number_ind!=None:
  phone_contact.append(phone_number_ind)
if phone_number_usa!=None:
  phone_contact.append(phone_number_usa)

phone_contact

['9958168687']

# Extracting EMAIL ID

In [15]:
EMAIL_REG = re.compile(r'[a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+')

In [16]:
def extract_emails(resume_text):
    return re.findall(EMAIL_REG, resume_text)

In [17]:
emails = extract_emails(txt)

if emails:
    print(emails)

['rajatagarwaal30@gmail.com']

#### General Info Dictionary

In [18]:
general_dict={ 'Name' : name_candidate.upper(),
              'email' : emails ,
              'contact' : phone_contact
    
}

general_dict

{'Name': 'RAJAT AGARWAAL',
 'contact': ['9958168687'],
 'email': ['rajatagarwaal30@gmail.com']}

# Extracting Skills from the Text

In [19]:
import pandas as pd
file_skills_domain=pd.read_excel('/content/ResumeSkill.xlsx')

In [20]:
file_skills_domain.columns= file_skills_domain.columns.str.strip().str.upper()

In [21]:
file_skills_domain.columns

Index(['FRONT_END', 'BACK_END', 'MACHINE_LEARNING', 'DEVOPS',
       'BUSINESS_INTELLIGENCE', 'EDUCATION'],
      dtype='object')

In [22]:
list_domains=[]
for col in file_skills_domain.columns:
  
  file_skills_domain[col]=file_skills_domain[col].str.strip().str.upper()

  if col != 'EDUCATION' :
    list_domains.append('list_%s' % col)
    globals()['list_%s' % col]= [x for x in file_skills_domain[col].to_list() if type(x) != float]

In [23]:
list_domains

['list_FRONT_END',
 'list_BACK_END',
 'list_MACHINE_LEARNING',
 'list_DEVOPS',
 'list_BUSINESS_INTELLIGENCE']

In [24]:
list_skills=[]
for i in list_domains:
  list_skills=list_skills+eval(i)
print(list_skills)

['HTML/CSS', 'HTML', 'CSS', 'JAVASCRIPT', 'JAVASCRIPT', 'JQUERY', 'BOOTSTRAP', 'VERSION CONTROL/GIT', 'SASS', 'LESS', 'STYLUS', 'ANGULARJS', 'ES6', 'ANGULAR', 'REACT', 'VUE.JS', 'METEOR', 'NODE.JS', 'BACKBONE.JS', 'AURELIA', 'CHROME DEVTOOLS', 'AGILE/SCRUM', 'UI/UX', 'TYPESCRIPT', 'REACTJS', 'GITHUB', 'ES7', 'PHOTOSHOP', 'ADOBE ILLUSTRATOR', 'WORDPRESS', 'JQUERY', 'JAVA', 'PYTHON', 'RUBY', '.NET', 'C++', 'PERL', 'PHP', 'POSTGRES SQL', 'MYSQL', 'MONGODB', 'ORACLE', 'REDIS', 'SQL SERVER', 'DOCKER', 'KUBERNETES', 'NGINX', 'NODE.JS', 'APACHE', 'NGINX', 'IIS SERVERS', 'MICROSOFT IIS', 'REST API', 'SOAP API', 'EXPRESS.JS', 'PHOENIX (ELIXIR)', 'DJANGO', 'RUBY ON RAILS', 'LARAVEL', 'FLASK', 'ASP.NET CORE', 'SPRING MVC', 'CODEIGNITER', 'CAKEPHP', 'SYMFONY', 'PLAY FRAMEWORK', 'C#', 'GITHUB', 'MICROSERVICES', 'NPM', 'YARN', 'GRAPHQL', 'MOBX', 'REDUX', 'ORM', 'DYNAMODB', 'CICD', 'GITLAB', 'DOT NET', 'R', 'JAVA', 'PYTHON', 'C++', 'TORCH', 'THEANO', 'TENSORFLOW', 'SWIFT AI', 'SCIKIT-LEARN', 'PYBRAIN', 'KERAS', 'IBM WATSON', 'DEEPLEARNING4J', 'KNN', 'LINEAR REGRESSION', 'LOGISTIC REGRESSION', 'DECISION TREES', 'RANDOM FORESTS', 'SVM', 'K-NEAREST NEIGHBORS', 'XGBOOST', 'CLUSTERING', 'NEURAL NETWORKS', 'NAIVE BAYES', 'APACHE SPARK', 'HADOOP', 'SQL / NOSQL', 'NUMPY', 'PANDAS', 'PYTORCH', 'OPENCV', 'NLTK', 'BERT', 'LSTM', 'CNN', 'CAFFE', 'MXNET', 'MATPLOTLIB', 'AWS LAMBDA', 'MATLAB', 'COMPUTER VISION', 'GO', 'JAVA', 'NOSQL', 'SQL', 'KOTLIN', 'ANDROID STUDIO', 'ANDROID SDK', 'MATERIAL DESIGN', 'PYTHON', 'NODE.JS', 'C#', 'JAVASCRIPT', 'XML', 'FIREBASE', 'SQLITE', 'RDBMS', 'XCODE', 'JENKINS', 'DOCKER', 'KUBERNETES', 'TABLEAU', 'POWERBI', 'QLIK', 'GRAFANA', 'D3.JS']

### Skills Extraction Loop

In [25]:
from collections import defaultdict
skills_dict = {}
domain_list=[]

    


def extract_skills(input_text):
    stop_words = set(nltk.corpus.stopwords.words('english'))
    word_tokens = nltk.tokenize.word_tokenize(input_text)

    # remove the stop words
    filtered_tokens = [w for w in word_tokens if w not in stop_words]

    # remove the punctuation
    filtered_tokens = [w for w in word_tokens if w.isalpha()]

    # generate bigrams and trigrams (such as artificial intelligence)
    bigrams_trigrams = list(map(' '.join, nltk.everygrams(filtered_tokens, 1, 3)))

    # we create a set to keep the results in.
    found_skills = set()

    # we search for each token in our skills database
    for token in filtered_tokens:
        if token.upper() in list_skills:
            found_skills.add(token)
    
    # we search for each bigram and trigram in our skills database
    for ngram in bigrams_trigrams:
        if ngram.upper() in list_skills:
            found_skills.add(ngram)
            
#     print(found_skills)

#     return found_skills
    for skill in found_skills :
      if skill.upper() not in skills_dict.keys():
          skill = skill.upper()
          cnt = 0
          for i in bigrams_trigrams:
              i = i.upper()
              if skill in i:
                  cnt += 1
                  for j in list_domains:
                    if skill in eval(j):
                      domain_list.append(j)

          print(skill.upper(), ' is repeated ' , cnt, ' times.')
          skills_dict[skill.upper()]= cnt
#     print(list(bigrams_trigrams))

In [26]:
extract_skills(txt)

# print(skills)

PYTHON  is repeated  24  times.
CNN  is repeated  6  times.
GITLAB  is repeated  6  times.
SQL  is repeated  18  times.
TABLEAU  is repeated  6  times.
RANDOM FORESTS  is repeated  3  times.
COMPUTER VISION  is repeated  9  times.

In [27]:
skills_dict

{'CNN': 6,
 'COMPUTER VISION': 9,
 'GITLAB': 6,
 'PYTHON': 24,
 'RANDOM FORESTS': 3,
 'SQL': 18,
 'TABLEAU': 6}

In [28]:
domain_list

from collections import Counter

# l = ["India", "China", "China", "Japan", "USA", "India", "USA"]

new_vals = Counter(domain_list).most_common()
new_vals = new_vals[::-1] #this sorts the list in ascending order

for a, b in new_vals:
    print(a, b)

list_BUSINESS_INTELLIGENCE 6
list_BACK_END 30
list_DEVOPS 42
list_MACHINE_LEARNING 42

In [29]:
general_dict["skills"]=skills_dict
general_dict["domain"]=[new_vals[-1][0][5:],new_vals[-2][0][5:]]

In [30]:
import openpyxl
from openpyxl import Workbook

### Final Information

In [31]:
general_dict

{'Name': 'RAJAT AGARWAAL',
 'contact': ['9958168687'],
 'domain': ['MACHINE_LEARNING', 'DEVOPS'],
 'email': ['rajatagarwaal30@gmail.com'],
 'skills': {'CNN': 6,
  'COMPUTER VISION': 9,
  'GITLAB': 6,
  'PYTHON': 24,
  'RANDOM FORESTS': 3,
  'SQL': 18,
  'TABLEAU': 6}}

In [32]:
from pandas import json_normalize 
skill_df = json_normalize(general_dict['skills'])
num=skill_df.sum(axis=1)[0]

list_details=[]
for skill_x in skill_df.columns:
    list_details.append({'doc':filepath ,'Name' : name_candidate.upper(),
              'email' : emails[0] ,
              'contact' : phone_contact[0],
              'domain':[new_vals[-1][0][5:],new_vals[-2][0][5:]],
              'skills':skill_x ,
              'normalised_count':round((skill_df[skill_x][0]*100)/num,2),
              'total_skills':list(skill_df.columns)
              })
pd.DataFrame(list_details)

                               doc  ...                                       total_skills
0  /content/Rajat's Resume (1).pdf  ...  [PYTHON, CNN, GITLAB, SQL, TABLEAU, RANDOM FOR...
1  /content/Rajat's Resume (1).pdf  ...  [PYTHON, CNN, GITLAB, SQL, TABLEAU, RANDOM FOR...
2  /content/Rajat's Resume (1).pdf  ...  [PYTHON, CNN, GITLAB, SQL, TABLEAU, RANDOM FOR...
3  /content/Rajat's Resume (1).pdf  ...  [PYTHON, CNN, GITLAB, SQL, TABLEAU, RANDOM FOR...
4  /content/Rajat's Resume (1).pdf  ...  [PYTHON, CNN, GITLAB, SQL, TABLEAU, RANDOM FOR...
5  /content/Rajat's Resume (1).pdf  ...  [PYTHON, CNN, GITLAB, SQL, TABLEAU, RANDOM FOR...
6  /content/Rajat's Resume (1).pdf  ...  [PYTHON, CNN, GITLAB, SQL, TABLEAU, RANDOM FOR...

[7 rows x 8 columns]

### Writing to the Candidate Database

In [38]:
existing_data=pd.read_excel("/content/Candidate_DB.xlsx")

In [39]:
workbook = openpyxl.load_workbook("/content/Candidate_DB.xlsx")
writer = pd.ExcelWriter('/content/Candidate_DB.xlsx', engine='openpyxl', mode='a')
writer.book = workbook
writer.sheets = dict((ws.title, ws) for ws in workbook.worksheets)
existing_data.append(pd.DataFrame(list_details)).to_excel(writer, 'Sheet1', index=False)
writer.save()
writer.close()